/* 購物進度條 */

.sectionBar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #9d7a7a; */
    width: 70%;
    padding-top: 180px;
    padding-left: 550px;

}

.firstStep {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 30%;
    position: relative;
    /* 用於重置css計數器 */
    /* counter-reset: none; */
    color: #111;
}

.firstStep:before {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 15px;
    background-color: #8e8e8e;
    border-radius: 50%;
    /* margin: 5px; */
    transition: transform 0.3s ease;
}

.firstStep:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(181, 179, 179);
    position: absolute;
    left: 5%;
    top: 16px;
    z-index: -1;
}

.firstStep:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(181, 179, 179);
    position: absolute;
    left: 5%;
    top: 16px;
    z-index: -1;
}



.step {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 30%;
    position: relative;
    /* 用於重置css計數器 */
    /* counter-reset: none; */
    color: #111;
}

.step:before {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 15px;
    background-color: #d3d3d3;
    border-radius: 50%;
    /* margin: 5px; */
    transition: transform 0.3s ease;
}

.step:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d3d3d3;
    position: absolute;
    left: 5%;
    top: 16px;
    z-index: -1;
}


/* 購物車進度條 --> 線 */
.step:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d3d3d3;
    position: absolute;
    left: 5%;
    top: 16px;
    z-index: -1;
}

.lastStep {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 30%;
    position: relative;
    /* 用於重置css計數器 */
    /* counter-reset: none; */
    color: #111;
}

.lastStep:before {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 15px;
    background-color: #d3d3d3;
    border-radius: 50%;
    /* margin: 5px; */
}



.cutBorder {
    /* 去掉表格的框線 <table> / <tr> / <td>都需要下 */
    border: none;
}

.cartContainer {
    width: 1200px;
}

.cartNum {
    font-size: 20px;
}

.productTitle {
    padding: 0;
    /* background-color: pink; */
    text-align: center;
    font-size: 17px;
}

.productDetail {
    /* 取消清單前圖示 */
    /* list-style: none; */
    padding: 0;
    text-align: center;
}

.imgWidth {
    width: 10%;
    border: none;
}

.delAllContent {
    background-color: #FBF9EF;
    border-radius: 10px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 74px;
    padding-right: 74px;
}

.delContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delWay {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px #D9D9D9 solid;
    background-color: #FBF9EF;
    width: 400px;
}

/* 中按鈕 */
.linkText {
    text-align: center;
    background: #ebd8a9;
    font-size: 17px;
    color: #3f4c5c;
    font-weight: bold;
}

.trash {
    cusor: pointer;
}


.chooseStore {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: #FBF9EF;
    width: 400px;
}