.designTop {
    margin-top: 195px;
}


/* 購物進度條 */

.sectionBar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #9d7a7a; */
    width: 70%;
    padding-left: 550px;

}

/* 圓圈加深 */

.firstStep {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 30%;
    position: relative;
    /* 用於重置css計數器 */
    /* counter-reset: none; */
    color: #111;
}

.firstStep:before {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 15px;
    background-color: #8e8e8e;
    border-radius: 50%;
    /* margin: 5px; */
    transition: transform 0.3s ease;
}

.firstStep:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(181, 179, 179);
    position: absolute;
    left: 5%;
    top: 16px;
    z-index: -1;
}

.firstStep:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #8e8e8e;
    position: absolute;
    left: 5%;
    top: 16px;
    z-index: -1;
}

.step {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 30%;
    position: relative;
    /* 用於重置css計數器 */
    /* counter-reset: none; */
    color: #111;
}

.step:before {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 15px;
    background-color: #d3d3d3;
    border-radius: 50%;
    /* margin: 5px; */
    transition: transform 0.3s ease;
}

/* 購物車進度條 --> 線 */
.step:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d3d3d3;
    position: absolute;
    left: 5%;
    top: 16px;
    z-index: -1;
}

.lastStep {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 30%;
    position: relative;
    /* 用於重置css計數器 */
    /* counter-reset: none; */
    color: #111;
}

.lastStep:before {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #9d7a7a;
    font-size: 15px;
    background-color: #d3d3d3;
    border-radius: 50%;
    /* margin: 5px; */
}

/* ---------------------- main ---------------------- */
.buyerinfo {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.buyertitle {
    border-bottom: 1px #D9D9D9 solid;
    font-size: 15px;
    font-weight: 600;

}


/* 姓名輸入框 */
.inputframe {
    width: 100%;
    height: 42px;
    border-radius: 6px;
    border: 1px #D9D9D9 solid;
}

.selectbox {
   border: none;
    width: 125px;
}

.sortaddress {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px #D9D9D9 solid;
    width: 125px;
    margin-top: 5px;
}

.sortaddress2 {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px #D9D9D9 solid;
    width: 250px;
}

.addressdetail {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    /* width: 250px; */
}

/* RWD */

@media screen and (max-width: 1225px){
    .sectionBar{
        display: none;
    }
    .buyerinfo{
        white-space: nowrap;
    }
  
    .sortaddress2 {
        margin-top: 7px;
        margin-bottom: 14px;
    }
  }






