.secondBox{
    border: 1px solid rgba(102, 102, 102, 0.5);
}

.middlebox{
    width: 30%;
}

.cartContainer{
    width: 1200px;
}

.productTitle{
    padding: 0;
    background-color: pink;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

.productDetail{
   /* 取消清單前圖示 */
    /* list-style: none; */
    padding: 0;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

.imgWidth{
    width: 10%;
    border: none;
}

.cutBorder{
    /* 去掉表格的框線 <table> / <tr> / <td>都需要下 */
    border: none;
}

.totalBox{
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

.titleBar{
    background-color: #EBD8A9;
}







