/* 共用的樣式放這邊 */
* {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fbf9ef;
    /* border-radius: 40px; */
  }
  &::-webkit-scrollbar-thumb {
    /* border-radius: 40px; */
    /* background-color: rgba(239, 214, 197, 0.55);*/
    background-color: #ebd8a9;
  }
}

/* 地區按鈕 */
.btn-lg {
  height: 60px;
  width: 150px;
  border-radius: 40px;
  padding: 15px 20px;
  background: #ebd8a9;
  font-size: 18px;
  font-weight: bold;
  color: #3f4c5c;
}

/* 大按鈕 */
.btn-big {
  height: 32px;
  width: 150px;
  border-radius: 40px;
  padding: 0 20px;
  background: #ebd8a9;
  font-size: 18px;
  font-weight: bold;
  color: #3f4c5c;
}

/* 中按鈕 */
.btn-middle {
  text-align: center;
  border-radius: 40px;
  padding: 10px 20px;
  border-color: #ebd8a9;
  background: #ebd8a9;
  font-size: 16px;
  color: #3f4c5c;
  font-weight: bold;
}

/* 小按鈕 */
.btn-small {
  width: 100px;
  border-radius: 40px;
  padding: 10px 20px;
  background: #ebd8a9;
  font-size: 12px;
  color: #3f4c5c;
  text-align: center;
  font-weight: bold;
}

/* 超小按鈕 */
.btn-little {
  height: 30px;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--ebd-8-a-9, #ebd8a9);
  color: var(--3F4C5C, var(--3F4C5C, #3f4c5c));
  font-size: 16px;
  font-weight: bold;
}

/* 追蹤按鈕 */
.btn-follow {
  border-radius: 40px;
  border-color: #985637;
  padding: 5px 10px;
  background: white;
  font-size: 14px;
  color: #985637;
  text-align: center;
  font-weight: bolder;
}

.btn-follow:hover {
  color: chocolate;
  border-color: chocolate;
}

.btn-follow:active {
  color: chocolate !important;
  border-color: chocolate !important;
}

/* 按鈕hover效果 */
.btn-lg:hover,
.btn-big:hover,
.btn-middle:hover,
.btn-small:hover,
.btn-little:hover {
  color: #985637;
  background: #ebd8a9;
  border-color: #ebd8a9;
}
/* 按鈕按下效果 */
.btn-lg:focus,
.btn-big:focus,
.btn-middle:focus,
.btn-small:focus,
.btn-little:focus,
.btn-small:focus-visible {
  color: #3f4c5c;
  background: #ebd8a9;
  border-color: #ebd8a9;
  box-shadow: none;
}
/* 按鈕按下效果 */
.btn-lg:active,
.btn-big:active,
.btn-middle:active,
.btn-small:active,
.btn-little:active {
  color: #985637 !important;
  background: #ebd8a9 !important;
  border-color: #ebd8a9 !important;
}

/* ICON按鈕*/
.btn-i {
  color: #808080;
}

/* 食物標籤按鈕 */
.btn-outline-warning {
  color: #985637;
  border-color: #985637;
}

.btn-outline-warning {
  color: #985637;
  border-color: #985637;
}

.btn-check:active + .btn-outline-warning,
.btn-check:checked + .btn-outline-warning,
.btn-outline-warning.active,
.btn-outline-warning.dropdown-toggle.show,
.btn-outline-warning:active {
  color: #fff;
  background-color: #985637;
  border-color: #985637 !important;
}

/* 食物標籤按鈕 */
.btn-outline-warning {
  color: #985637;
  border-color: #985637;
}

.btn-outline-warning {
  color: #985637;
  border-color: #985637;
}

.btn-check:active + .btn-outline-warning,
.btn-check:checked + .btn-outline-warning,
.btn-outline-warning.active,
.btn-outline-warning.dropdown-toggle.show,
.btn-outline-warning:active {
  color: #fff;
  background-color: #985637;
  border-color: #985637 !important;
}

.h1 {
  font-size: 64px;
  font-weight: 600;
}

.h2 {
  font-size: 58px;
  font-weight: 700;
}

.h3 {
  font-size: 46px;
  font-weight: 700;
}

.h4 {
  font-size: 32px;
  font-weight: 700;
}

.h5 {
  line-height: 22px;
  font-size: 22px;
  font-weight: 700;
}

.h6 {
  font-size: 18px;
  font-weight: 700;
}

.p {
  font-size: 16px;
  font-weight: 400;
}

/* 12小字 */
.fs12 {
  font-size: 12px;
  font-weight: 400;
  color: #808080;
}

/* 14字 */
.fs14 {
  font-size: 14px;
  font-weight: 600;
}

/* 18正常字 */
.fs18 {
  font-size: 18px;
}

/* 16正常灰字 */
.fs16g {
  font-size: 16px;
  color: #666666;
}

/* 16粗體 */
.fs16b {
  font-size: 16px;
  font-weight: bold;
}

/* 18粗體 */
.fs18b {
  font-size: 18px;
  font-weight: bold;
}

/* 32首頁標題 */
.h4-title {
  color: var(--985637, #985637);
  text-align: center;
}

/* 灰色 */
.grey {
  color: #808080;
}

.grey-ae {
  color: #aeaeae;
}

/* 重要紅標 */
.red-i {
  color: #985637;
}

.w1200 {
  width: 1200px;
}

.w1440 {
  width: 1440px;
}

/* 置中 */
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* 引入Noto Sans Traditional Chinese */
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap");

body {
  font-family: "jf-openhuninn-2.0", "Zen Maru Gothic", sans-serif;
}

/* 卡片圖片設定 */
.card-img {
  display: flex;
  width: 100%;
  height: 360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 0;
}

/* 一般卡片設定 */
.card {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 8px 10px 20px 0px rgba(142, 142, 142, 0.25);
}

/* 餐廳卡片設定 */
.card-r {
  display: flex;
  width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  background: #fff;
  box-shadow: 8px 10px 20px 0px rgba(142, 142, 142, 0.25);
}

.card-body {
  padding: 0 20px;
}

/* 大頭照-小 */
.headshot-small {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  object-fit: cover;
}
/* 大頭照-中小 */
.headshot-sm {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

/* 大頭照-中 */
.headshot-middle {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* 大頭照-大 */
.headshot-big {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

/* 重要的tag */
.tag-i {
  height: 20px;
  border-radius: 5px;
  border: 1px solid #985637;
  display: flex;
  justify-content: center;
  color: #985637;
  align-items: center;
  padding: 0 5px;
}

/* 食物tag */
.tag-f {
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: #666666;
  align-items: center;
  background-color: #5c5c5c1a;
  padding: 0 5px;
}

.icon-member {
  font-size: 30px;
}

/* 框架下底線 */
.bottom-line {
  border-bottom: 1px solid #000;
}

.bottom-line-g {
  border-bottom: 1px solid #cdcdcd;
}

/* 輸入框格式 */
.input-f {
  width: 500px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

.input-res {
  height: 45px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

.input-area {
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

input[type="text"] {
  padding-left: 12px;
}

input[type="password"] {
  padding-left: 12px;
}

textarea {
  padding-left: 12px;
}

.selector {
  height: 42px;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 10px;
}

/* select:focus { 
outline: none;
} */

.card-img {
  transform: scale(1, 1);
  transition: all 1s ease-out;
}
.card-img:hover {
  transform: scale(1.04, 1.04);
}

nextjs-portal {
  display: none;
}