/* 大按鈕 */
.btn-big{
  width: 150px;
  border-radius: 40px;
  padding: 15px 20px;
  background: #ebd8a9;
  font-size: 18px;
  font-weight: bold;
  color:#3F4c5c;
}

/* 中按鈕 */
.btn-middle{
  width:120px;
  border-radius: 40px;
  padding: 10px 20px;
  background:#ebd8a9 ;
  font-size: 16px;
  color:#3F4c5c;
}

/* 小按鈕 */
.btn-small{
  width: 100px;
  border-radius: 40px;
  padding: 10px 20px;
  background: #ebd8a9;
  font-size: 12px;
  color:#3F4c5c;
}

/* 18粗體 */
.fs18b{
  font-size: 18px;
  font-weight: bold;
}

.w1200{
  width: 1200px;
}

.w1440{
  width: 1440px;
}

/* 置中 */
.middle{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 引入Noto Sans Traditional Chinese */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');

body{
  font-family: 'jf-openhuninn-2.0','Zen Maru Gothic', sans-serif;
}