.bread {
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}
.bread * {
  margin-right: 5px;
}
.leftBox {
  width: 230px;
  display: flex;
  justify-content: center;
  /* background-color:#526565 ; */
}
.left {
  width: 200px;
  padding: 10px 0 10px 0;
  /* display: flex;
    flex-direction: column; */
}
.left div {
  text-align: center;
  width: 180px;
  /* display: flex;
    flex-direction: column; */
}

.left button {
  background-color: #fff;
  margin-bottom: 5px;
  border: none;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: left;
  /* width: 100%; */
}
.left > button {
  font-size: 18px;
  font-weight: 700;
}
.left button:hover {
  border-bottom: 3px solid #b6705e;
}
.typeListBtn {
  font-size: 15px;
  font-weight: 400;
}

/* main--------- */

.sort {
  margin-bottom: 20px;
}
.sort select,
.sort form input {
  border-radius: 40px;
  width: 140px;
  height: 30px;
  font-size: 14px;
  margin-right: 10px;
}
.sort form button {
  border: none;
  border-radius: 40px;
  height: 30px;
  text-align: center;
  color: #666666;
}
.sort form button:hover {
  background-color: #666666;
}

.cardP {
  display: flex;
  width: 200px;
  min-width: 180px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;

  border-radius: 10px;
  background: #fff;
  box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
