.bread {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  /* padding: 15px; */
}
.bread * {
  margin-right: 5px;
}
.bread a:link {
  color: #666666;
}
.bread a:visited {
  color: #666666;
}

/* ws */

.typing {
  background-color: #b6705e;
  padding: 0.3em 0 0.4em 0.2em;
  width: 60px;
  height: 48px;
  border-radius: 30px 30px 0px 30px;
  box-shadow: 1px 3px 4px #666666;
  margin-right: 5px;
  box-shadow: 2.5px 2.5px 2.5px #f3dccd6e inset;
  /* margin: auto; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.typing:hover {
  background-color: #666666;
}

.typing span {
  content: "";
  display: block;
  height: 0.6em;
  width: 0.6em;
  border-radius: 50px;
  background-color: #fbf9ef;
  margin: auto 0.08em;
  box-shadow: 2.5px 2.5px 2.5px #ffffffcb inset;

  animation: bounce 0.8s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: 0s;
}

.typing span:nth-child(2) {
  animation-delay: 0.4s;
}
.typing span:last-child {
  animation-delay: 0.8s;
}

@keyframes bounce {
  0% {
    margin-bottom: 0.3em;
  }

  25% {
    margin-bottom: 0.4em;
  }

  50% {
    margin-bottom: 0.55em;
  }

  75% {
    margin-bottom: 0.65em;
  }

  100% {
    margin-bottom: 0.8em;
  }
}

.leftBox {
  width: 230px;
  display: flex;
  flex-direction: column;
}
.left {
  width: 180px;
  /* height: 300px; */
  padding: 15px 0 0 0;
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);
  /* display: flex;
    flex-direction: column; */
}
.left div {
  text-align: center;
  width: 180px;
  /* display: flex;
    flex-direction: column; */
}

.left button,
.leftA {
  background-color: #fff;
  margin-bottom: 2px;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: left;
  border-color: transparent !important;
}

.left > button,
.leftA {
  font-size: 18px;
  font-weight: 700;
}

.left button:hover,
.leftA:hover,
.left button:focus-visible,
.leftA:active {
  border-bottom: 3px solid #b6705e !important;
  color: black;
}
.typeListBtn {
  font-size: 15px;
  font-weight: 400;
}
.left input[type="checkbox"] {
  margin-right: 10px;
}

/* search--------- */
.barBtn {
  display: none;
}
/* .sort {
  margin-bottom: 20px;
} */
.sort select,
.sort form input {
  border-radius: 40px;

  color: #666666;
  width: 140px;
  height: 30px;
  font-size: 14px;
  margin-right: 10px;
}

.sort select:focus,
.sort form input:focus {
  box-shadow: none;
  border-color: #666666;
}

.sort form button {
  border-radius: 40px;
  height: 30px;
  width: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.sort form button:hover {
  border: 1px solid #666666;
}

/* main--------- */

.cardP {
  display: flex;
  width: 220px;
  /* min-width: 210px; */
  height: 280px;
  flex-direction: column;
  justify-content: top;
  margin: 10px 0 20px 0;
  align-items: center;

  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 500px) {
  .cardP {
    width: 300px;
    height: 340px;
  }
}

.cardP .mylink {
  color: black;
}
.imgBox {
  /* border-radius: 40px; */
  width: 100%;
  height: 70%;
}

.myImg {
  /*為了讓瀏覽器知道它應該從哪個大小開始縮放，所以設定原始值  */
  transform: scale(1, 1);
  transition: all 0.6s ease-in-out;
}

.myImg:hover {
  transform: scale(1.04, 1.04);
}

.contentBox {
  height: 50px;
}

@media screen and (max-width: 787px) {
  .leftBox {
    display: none;
  }
  .barBtn {
    display: inline;
  }
}
/* .display {
  display: block !important;
}
.notDisplay {
  display: none !important;
} */
