.recordBox{
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* align-items: stretch; */
  /* justify-content: center;  */
  /* align-items: flex-start;  */
}

.head {
    font-size: 22px;
    font-weight: 500;
    color: #808080;
    margin-bottom: 30px;
  }

  /* start from here */
  .topLine {
    border-top: 1px solid #cdcdcd;
  }

