.recordBox{
  display: flex;
  flex-direction: column;
  padding: 10px;
  white-space: nowrap;
  /* align-items: stretch; */
  /* justify-content: center;  */
  /* align-items: flex-start;  */
}

.head {
    font-size: 22px;
    font-weight: 500;
    color: #808080;
    margin-bottom: 30px;
  }

  .buyRecord {
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
  }



  /* start from here */
  .topLine {
    border-top: 1px solid #cdcdcd;
    font-size: 15px;
    white-space: nowrap;
  }

  /* @media screen and (min-width: 360px)and(max-width: 900px){
    .titleFont{
      white-space: nowrap;
    }
   
  } */

